	<!-- Menu -->
	<nav class="menu" id="theMenu" [ngClass]="{'menu-open':menuopen}">
		<div class="menu-wrap">
			<h1 class="logo"><a routerLink="">Rafa</a></h1>
			<i class="fa fa-remove menu-close" (click)="menuToggle();"></i>
			<a href="#home" routerLink="" [ngx-scroll-to]="'home'" [ngx-scroll-to-duration]="1500"
			[ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Home</a>
			<a href="#musica" [ngx-scroll-to]="'musica'" [ngx-scroll-to-duration]="1500"
      [ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Musica</a>
			<a href="#biografia" [ngx-scroll-to]="'bio'" [ngx-scroll-to-duration]="1500"
			[ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Biografia</a>
			<a href="#colaboraciones" [ngx-scroll-to]="'colaboraciones'" [ngx-scroll-to-duration]="1500"
      [ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Colaboraciones</a>
			<a href="#gira-mexico" [ngx-scroll-to]="'gira-mexico'" [ngx-scroll-to-duration]="1500"
			[ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Gira Mexico</a>
			<a href="#contacto" [ngx-scroll-to]="'contacto'" [ngx-scroll-to-duration]="1500"
      [ngx-scroll-to-easing]="'easeOutElastic'" class="smoothScroll">Contacto</a>
			<a target="_blank" href="http://www.facebook.com/rafael.doorish"><i class="fa fa-facebook"></i></a>
			<a target="_blank" href="http://www.instagram.com/rafa_doorish"><i class="fa fa-instagram"></i></a>
			<a target="_blank" href="https://www.youtube.com/channel/UC1JYs1S2C9w1yyjJxPDwJBA/featured"><i class="fa fa-youtube-play"></i></a>
			<a target="_blank" href="https://soundcloud.com/rafadoorish"><i class="fa fa-soundcloud"></i></a>
		</div>
		
		<!-- Menu button -->
		<div (click)="menuToggle();" [ngClass]="{'text-success':active}" id="menuToggle"><i class="fa fa-reorder"></i></div>
	</nav>
  