<!-- ========== CONTACT SECTION ========== -->
<section id="contacto" name="contacto"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>CONTACTO</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
      
      <div class="col-lg-6 col-lg-offset-3">
        <p>Capital Federal<br/>Buenos Aires, Argentina</p>
        <p>+54 11 3674-7082</p>
        <p>rafa.05@live.com.ar</p>
        <div class="logo">
          <a target="_blank" href="http://www.facebook.com/rafael.doorish"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="http://www.instagram.com/rafa_doorish"><i class="fa fa-instagram"></i></a>
          <a target="_blank" href="https://www.youtube.com/channel/UC1JYs1S2C9w1yyjJxPDwJBA/featured"><i class="fa fa-youtube-play"></i></a>
          <a target="_blank" href="https://soundcloud.com/rafadoorish"><i class="fa fa-soundcloud"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>