<!-- ========== Eventos SECTION ========== -->
<section id="eventos" name="eventos"></section>
<div *ngIf="events.length > 0" id="f">
  <div class="container">
    <div class="row">
      <h3>EVENTOS</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>		
      <!-- INTRO INFORMATIO-->
      <div *ngFor="let event of events" class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 container-event">
          <div (click)="openImage(event)" class="project-tile-image">
            <img src="{{event.img}}" >
          </div>
          <div class="project-tile-caption">
            <h3>{{event.title}}</h3>
            <p>{{event.desc}}</p>
            <div class="event-desc">
              <p><i *ngIf="event.direccion.length > 0"  class="fa fa-map-marker"></i>{{event.direccion}}</p>
              <p><i *ngIf="event.fecha.length > 0" class="fa fa-calendar"></i>{{event.fecha}} {{event.hora}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a (click)="nextPage()" [hidden]="!nextKey"><i style="font-size: 35px; cursor: pointer; margin-top: 30px;" class="fa fa-plus-circle"></i></a>	
  </div><!-- /container -->
</div><!-- /f -->