.large-block {
  width: 100%;
  max-width: 950px;
}

.no-shadow {
  box-shadow: none;
}

.container-event {
  border: 2px solid white;
  padding: 0 !important;
  margin-bottom: 16px;
}

.event-desc {
  text-align: left;
}

.event-desc p {
  margin-bottom: 18px;
}

.event-desc p i {
  font-size: 20px !important;
  margin-right: 8px;
}

.project-tile {
  box-shadow: 2px 2px 10px #4e4e4e;
  display: inline-block;
  height: 300px;
  margin: 15px 10px;
  padding: 8px;
  transition: 0.5s;
  vertical-align: top;
  width: 30.2%;
}

.project-tile:hover {
  box-shadow: 2px 2px 20px #4e4e4e;
  transition: 0.5s;
}

.project-tile-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.project-tile-caption {
  padding: 16px;
}

.project-tile-caption p {
  font-size: 14px;
}

/* responsive styles */
@media screen and (max-width: 810px) {
  .project-tile {
    display: block;
    height: auto;
    width: 70%;
    margin: 0 auto 60px auto;
  }
}

@media screen and (max-width: 500px) {
  .project-tile {
    width: 95%;
  }
}
