<h1 class="content-title">Biografia</h1>
<div class="content-title-bottom-border"></div>
<div class="container-block row">
  <div class="content-bio col-7 no-shadow fast-fade-in">
    <p>Rafael Doorish (Urdampilleta, 10 de mayo de 1991) es un cantautor independiente que inició con la música a los 16 años de manera casual en Secundaria y posteriormente en eventos y radio de su pueblo natal, influenciado por la trova latinoamericana, la música rioplatense, el folclore sudamericano y el rock nacional.</p>
    <p>En marzo del año 2010 radica en la Ciudad Autónoma de Buenos Aires, donde comenzó a componer su primera decena de canciones teniendo oportunidad de registrarlas y grabarlas con algunos invitados especiales de reconocido renombre latinoamericano e internacional. Así mismo, de manera paralela durante este tiempo, se presentó en diversos festivales y certámenes de cantautores. Actualmente continua trabajando en la composición de nuevos temas y con firme intención de compartir la música en los espacios donde pueda ser recibida.</p>
  </div>
  <div class="col-5 no-shadow fast-fade-in">
    <img src="../../assets/img/bio2.jpg" alt="">
  </div>
</div>

<h1 class="content-title">Colaboraciones 2018</h1>
<div class="content-title-bottom-border"></div>
<div class="container-block row">
  <div class="col-5 no-shadow fast-fade-in">
    <img src="../../assets/img/colaboraciones.jpg" alt="">
  </div>
  <div class="content-bio col-7 no-shadow fast-fade-in">
    <p>En 2018 Rafael Doorish ingresó al Estudio ION bajo la técnica de sonido de Alejandro Saro, sumando colaboraciones de diferentes cantautores e intérpretes a sus temas, tales como:</p>
    <p>- “Rumor del Viento”- Fernando Barrientos (duo Orozco-Barrientos) y Micaela Chauque (compositora de música coplista y tañedora de quena y sicu)</p>
    <p>- “Partituras” – Alejandro Balbis (músico, compositor, productor y guitarrista Uruguayo)</p>
    <p>- “Pared Enfrente” – Edu “Pitufo” Lombardo (músico, compositor y cantante Uruguayo)</p>
  </div>
</div>
