<div *ngIf="user">
  <h1 class="content-title">
    Admin
  </h1>
  <div class="content-title-bottom-border"></div>
  <div class="center admin-cms-control-menu">
    <button class="btn btn-lg btn-primary" (click)="toggleShowEventCmsControls()">
      <fa name="calendar"></fa>
      Eventos
    </button>
    <button class="btn btn-lg btn-primary" (click)="toggleShowMusicCmsControls()">
      <fa name="music"></fa>
      Musica
    </button>
    <button class="btn btn-lg btn-primary admin-logout-btn" (click)="runLogout()">
      <fa name="sign-out"></fa>
      Logout
    </button>
  </div>
  <div class="container-block">
    <div class="admin-panel-box">
      <ul class="admin-panel-nav">
        <!-- Eventos CMS Controls -->
        <div class="content-block fast-fade-in" *ngIf="showEventCmsControls">
          <h2 class="cms-controls-title">
            <fa name="calendar"></fa>
            Eventos
          </h2>
          <li>
            <button class="btn btn-lg btn-success admin-cms-editor-btn" (click)="toggleAddEventsForm()">
              <fa name="plus"></fa>
              Agregar Evento
            </button>
          </li>
          <!-- add event form -->
          <div class="cms-editor-block fast-fade-in" *ngIf="showAddEventsForm">
            <h4>Agregar Evento</h4>
            <form (ngSubmit)="submitAddEventForm(title.value, desc.value, direccion.value, fecha.value, hora.value, img.value);">
              <div class="form-group">
                <label for="title">Titulo:</label>
                <input #title class="form-control" id="title" autofocus="true">
              </div>
              <div class="form-group">
                <label for="desc">Descripcion:</label>
                <input #desc class="form-control" id="desc" autofocus="true">
              </div>
              <div class="form-group">
                <label for="name">Direccion:</label>
                <input #direccion class="form-control" id="direccion">
              </div>
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input #fecha class="form-control" id="fecha">
              </div>
              <div class="form-group">
                <label for="hora">Hora:</label>
                <input #hora class="form-control" id="hora">
              </div>
              <div class="form-group">
                <label for="img">Imagen Url</label>
                <input #img class="form-control" id="img">
              </div>
              <button type="submit" class="btn btn-lg btn-success">
                <fa name="plus"></fa>
                Agregar
              </button>
              <button class="btn btn-lg btn-danger" (click)="toggleAddEventsForm($event)">
                <fa name="ban"></fa>
                Cancelar
              </button>
            </form>
          </div>
          <!-- edit event form -->
          <div class="cms-editor-block fast-fade-in">
            <h4>Eventos creados</h4>
            <ul class="event-list" *ngFor="let event of events | async">
              <li>
                <button class="btn btn-med btn-default btn-warning event-btn" (click)="editEventClicked(event)">
                  <fa name="pencil"></fa>
                  Editar
                </button>
                <button class="btn btn-med btn-default btn-danger event-btn" (click)="deleteEventClicked(event)">
                  <fa name="exclamation-circle"></fa>
                  Eliminar
                </button>
                {{event.title}}
              </li>
            </ul>
            <div *ngIf="selectedEvent">
              <div class="form-group">
                <label for="title">Titulo:</label>
                <input [(ngModel)]="selectedEvent.title" class="form-control" id="title" autofocus="true">
              </div>
              <div class="form-group">
                <label for="desc">Descripcion:</label>
                <input [(ngModel)]="selectedEvent.desc" class="form-control" id="desc" autofocus="true">
              </div>
              <div class="form-group">
                <label for="direccion">Direccion:</label>
                <input [(ngModel)]="selectedEvent.direccion" class="form-control" id="direccion">
              </div>
              <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input [(ngModel)]="selectedEvent.fecha" class="form-control" id="fecha">
              </div>
              <div class="form-group">
                <label for="hora">Hora</label>
                <input [(ngModel)]="selectedEvent.hora" class="form-control" id="hora">
              </div>
              <div class="form-group">
                <label for="img">Imagen Url:</label>
                <input [(ngModel)]="selectedEvent.img" class="form-control" id="img">
              </div>
              <button class="btn btn-lg btn-success" (click)="updateEventClicked(selectedEvent)">
                <fa name="pencil"></fa>
                Actualizar
              </button>
              <button class="btn btn-lg btn-danger" (click)="cancelEventEdit()">
                <fa name="ban"></fa>
                Cancelar
              </button>
            </div>
          </div>
        </div>
        <!-- FIN EVENTOS -->

        <!-- Musica CMS Controls -->
        <div class="content-block fast-fade-in" *ngIf="showMusicCmsControls">
          <h2 class="cms-controls-title">
            <fa name="music"></fa>
            Musica
          </h2>
          <li>
            <button class="btn btn-lg btn-success admin-cms-editor-btn" (click)="toggleAddMusicsForm()">
              <fa name="plus"></fa>
              Agregar Musica
            </button>
          </li>
          <!-- add music form -->
          <div class="cms-editor-block fast-fade-in" *ngIf="showAddMusicsForm">
            <h4>Agregar Musica</h4>
            <form (ngSubmit)="submitAddMusicForm(title.value, desc.value, video.value);">
              <div class="form-group">
                <label for="title">Titulo:</label>
                <input #title class="form-control" id="title" autofocus="true">
              </div>
              <div class="form-group">
                <label for="desc">Descripcion:</label>
                <input #desc class="form-control" id="desc" autofocus="true">
              </div>
              <div class="form-group">
                <label for="video">Video Url</label>
                <input #video class="form-control" id="video">
              </div>
              <button type="submit" class="btn btn-lg btn-success">
                <fa name="plus"></fa>
                Agregar
              </button>
              <button class="btn btn-lg btn-danger" (click)="toggleAddMusicsForm($event)">
                <fa name="ban"></fa>
                Cancelar
              </button>
            </form>
          </div>
          <!-- edit music form -->
          <div class="cms-editor-block fast-fade-in">
            <h4>Musica creada</h4>
            <ul class="event-list" *ngFor="let music of musics | async">
              <li>
                <button class="btn btn-med btn-default btn-warning event-btn" (click)="editMusicClicked(music)">
                  <fa name="pencil"></fa>
                  Editar
                </button>
                <button class="btn btn-med btn-default btn-danger event-btn" (click)="deleteMusicClicked(music)">
                  <fa name="exclamation-circle"></fa>
                  Eliminar
                </button>
                {{music.title}}
              </li>
            </ul>
            <div *ngIf="selectedMusic">
              <div class="form-group">
                <label for="title">Titulo:</label>
                <input [(ngModel)]="selectedMusic.title" class="form-control" id="title" autofocus="true">
              </div>
              <div class="form-group">
                <label for="desc">Descripcion:</label>
                <input [(ngModel)]="selectedMusic.desc" class="form-control" id="desc" autofocus="true">
              </div>
              <div class="form-group">
                <label for="video">Video Url:</label>
                <input [(ngModel)]="selectedMusic.video" class="form-control" id="img">
              </div>
              <button class="btn btn-lg btn-success" (click)="updateMusicClicked(selectedMusic)">
                <fa name="pencil"></fa>
                Actualizar
              </button>
              <button class="btn btn-lg btn-danger" (click)="cancelMusicEdit()">
                <fa name="ban"></fa>
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="!user">
  <p class="center" id="invalid-access">
    <fa name="warning"></fa>
    Necesitas estar logueado para acceder al Admin <br>
    <a href routerLink="/login">Login</a>
  </p>
</div>