.admin-panel-box {
  margin-bottom: 60px;
}

.admin-panel-nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align:  center;
}

.admin-panel-nav li {
  display: inline-block;
  margin-right: 10px;
}

.admin-cms-editor-btn {
  width: 180px;
}

.admin-cms-control-menu {
  margin-bottom: 50px;
}

.cms-controls-title {
  margin-bottom: 30px;
}

.cms-editor-block {
  margin-top: 50px;
  text-align: left;
}

.form-group {
  margin-top: 40px;
}

.event-list {
  list-style-type: none;
}

.event-list li {
  margin-top: 20px;
  width: 100%;
}

.event-btn {
  margin-right: 20px;
}

.admin-event-icon {
  font-size: 20px;
  margin-right: 10px;
}

#invalid-access {
  height: 200px;
  padding-top: 50px;
}

/* reponsive styles */
@media screen and (max-width: 902px) {
  .content-block {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .admin-panel-nav li {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .admin-cms-editor-btn {
    width: 70%;
  }
}

@media screen and (max-width: 602px) {
  .admin-panel-nav li, .admin-cms-control-menu .btn {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .content-block .btn {
    display: block;
    margin: 10px 0px;
    width: 100%;
  }

  .event-list {
    padding: 0px;
  }

  .event-list li {
    width: 100%;
  }
}

a {
  transition: 0s;
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: none;
  transition: color 0s;
}

a:focus {
  outline: none;
}

.container-block {
  margin-bottom: 80px;
}

.content-title {
  font-family: inherit;
  font-family: 'Shadows Into Light', cursive;
  margin: 0px auto;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(78, 78, 78, 0.6);
}

.content-title-bottom-border {
  border-bottom: 5px solid #000000;
  box-shadow: 2px 2px 10px rgba(78, 78, 78, 0.6);
  margin: 10px auto 40px auto;
  width: 80px;
}

.content-block {
  box-shadow: 2px 2px 10px #4e4e4e;
  margin: 20px auto;
  padding: 40px 20px;
  width: 70%;
  max-width: 800px;
}

.center {
  text-align: center;
}

/* responsive styles */
@media screen and (max-width: 700px) {
  .content-block {
    width: 95%;
  }
}

/* fade in */

.fast-fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.medium-fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.slow-fade-in {
  animation: fadeIn ease 7s;
  -webkit-animation: fadeIn ease 7s;
  -moz-animation: fadeIn ease 7s;
  -o-animation: fadeIn ease 7s;
  -ms-animation: fadeIn ease 7s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
