<!-- ========== Musica SECTION ========== -->
<section id="musica" name="musica"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>MUSICA</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>		
      <!-- INTRO INFORMATIO-->
      <div *ngFor="let m of musics" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 container-event">
        <iframe [src]="m.video | safe" frameborder="0" width="100%" height="300px" allowfullscreen></iframe>
        <div class="project-tile-caption">
          <h3>{{m.title}}</h3>
          <p>{{m.desc}}</p>
        </div>
      </div>
      <a (click)="nextPage()" [hidden]="!nextKey"><i style="font-size: 35px; cursor: pointer; margin-top: 30px;" class="fa fa-plus-circle"></i></a>	
    </div>
  </div><!-- /container -->
</div><!-- /f -->
