<!-- ========== HOME SECTION ========== -->
<section id="home" name="home"></section>
<video id="video-home" poster="../../assets/img/home.jpg" loop autoplay my-autoplay>
  <source src="../../assets/img/video-home.mp4" type="video/mp4">
</video>

<div id="headerwrap">
  <div class="logo">
    <a target="_blank" href="http://www.facebook.com/rafael.doorish"><i class="fa fa-facebook"></i></a>
    <a target="_blank" href="http://www.instagram.com/rafa_doorish"><i class="fa fa-instagram"></i></a>
    <a target="_blank" href="https://www.youtube.com/channel/UC1JYs1S2C9w1yyjJxPDwJBA/featured"><i class="fa fa-youtube-play"></i></a>
    <a target="_blank" href="https://soundcloud.com/rafadoorish"><i class="fa fa-soundcloud"></i></a>
  </div>
  <div class="container">
    <div class="row">
      <h1>Rafael Doorish</h1>
      <br>
      <h3>Cantautor</h3>
      <br>
      <br>
      <div class="col-lg-6 col-lg-offset-3">
      </div>
    </div>
  </div><!-- /container -->
  <a class="arrow bounce" [ngx-scroll-to]="'musica'" [ngx-scroll-to-duration]="1500"
  [ngx-scroll-to-easing]="'easeOutElastic'"></a>
</div><!-- /headerwrap -->

<!-- ========== MUSICA SECTION ========== -->	
<app-musica></app-musica>

<!-- ========== BIO SECTION ========== -->
<section id="bio" name="bio"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>BIOGRAFIA</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>		
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div id="carousel-bio" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active centered">
              <img class="img-responsive" src="../../assets/img/bio2.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="../../assets/img/bio3.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="../../assets/img/bio4.jpg" alt="">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-bio" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-bio" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <br>
          <br>
          <ol class="carousel-indicators">
              <li data-target="#carousel-bio" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-bio" data-slide-to="1"></li>
              <li data-target="#carousel-bio" data-slide-to="2"></li>
          </ol>
        </div>
      </div><!-- col-lg-8 -->
      <!-- INTRO INFORMATIO-->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p>Rafael Doorish (Urdampilleta, 10 de mayo de 1991) es un cantautor independiente que inició con la música a los 16 años de manera casual en Secundaria y posteriormente en eventos y radio de su pueblo natal, influenciado por la trova latinoamericana, la música rioplatense, el folclore sudamericano y el rock nacional.</p>
        <p>En marzo del año 2010 radica en la Ciudad Autónoma de Buenos Aires, donde comenzó a componer su primera decena de canciones teniendo oportunidad de registrarlas y grabarlas con algunos invitados especiales de reconocido renombre latinoamericano e internacional. Así mismo, de manera paralela durante este tiempo, se presentó en diversos festivales y certámenes de cantautores. Actualmente continua trabajando en la composición de nuevos temas y con firme intención de compartir la música en los espacios donde pueda ser recibida.</p>
      </div>		
    </div>
  </div><!-- /container -->
</div><!-- /f -->


<!-- ========== COLABORACIONES SECTION ========== -->	
<section id="colaboraciones" name="colaboraciones"></section>
<div id="f">
  <div class="container">
    <div class="row centered">
      <h3>COLABORACIONES</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>
      <!-- INTRO INFORMATIO-->
      <div class="text-left col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <p>Rafael Doorish ingresó al Estudio ION bajo la técnica de sonido de Alejandro Saro, sumando colaboraciones de diferentes cantautores e intérpretes a sus temas, tales como:</p>
        <p>- Gustavo Santaolalla / Hugo Fattoruso - "Molino"</p>
        <p>- Edu “Pitufo” Lombardo - “Pared Enfrente” (músico, compositor y cantante Uruguayo)</p>
        <p>- Marta Gomez - "Nido" - Colombia</p>
        <p>- Alejandro Balbis - “Partituras” (músico, compositor, productor y guitarrista Uruguayo)</p>
        <p>- Fernando Barrientos - “Rumor del Viento” (duo Orozco-Barrientos) y Micaela Chauque (compositora de música coplista y tañedora de quena y sicu)</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div id="carousel-col" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active centered">
                <img class="img-responsive mx-auto" src="../../assets/img/gustavo2.jpg" alt="">
              </div>
            <div class="item centered">
              <img class="img-responsive mx-auto" src="../../assets/img/gustavo.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive mx-auto" src="../../assets/img/colaboraciones4.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive mx-auto" src="../../assets/img/colaboraciones.jpg" alt="">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-col" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-col" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <br>
          <br>
          <ol class="carousel-indicators">
              <li data-target="#carousel-col" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-col" data-slide-to="1"></li>
              <li data-target="#carousel-col" data-slide-to="2"></li>
              <li data-target="#carousel-col" data-slide-to="3"></li>
          </ol>
        </div>
      </div><!-- col-lg-8 -->
    </div><!-- row -->
  </div><!-- container -->
</div>	<!-- f -->

<!-- ========== BIO SECTION ========== -->
<section id="gira-mexico" name="gira-mexico"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>Gira Mexico 2019</h3>
      <p class="centered"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></p>		
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div id="carousel-gira" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active centered">
              <img class="img-responsive" src="../../assets/img/gira-mexico1.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="../../assets/img/gira-mexico3.jpg" alt="">
            </div>
            <div class="item centered">
              <img class="img-responsive" src="../../assets/img/gira-mexico2.jpg" alt="">
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-gira" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-gira" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <br>
          <br>
          <ol class="carousel-indicators">
              <li data-target="#carousel-gira" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-gira" data-slide-to="1"></li>
              <li data-target="#carousel-gira" data-slide-to="2"></li>
          </ol>
        </div>
      </div><!-- col-lg-8 -->
      <!-- INTRO INFORMATIO-->
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <p class="text-gira">En el marco del Festival Alfonsino de la UANL, con un hermoso acercamiento a los jovenes de la preparatoria de la universidad y culminando una fecha impecable en el aula magna del Colegio Civil (Centro Cultural Universitario)</p>
      </div>		
    </div>
  </div><!-- /container -->
</div><!-- /f -->

<!-- ========== EVENTOS SECTION ========== -->	
<app-events></app-events>